<div class="fixed inset-0 bg-opacity-100 items-center justify-center <%= @show_new_modal ? 'flex' : 'hidden' %>">
  <div class="bg-[#7D58BF] rounded-lg shadow-lg w-[calc(90vw)] max-w-3xl max-h-[calc(80vh)] p-2 text-center">
    <h1 class="text-2xl sm:text-3xl font-bold text-white mb-1 mt-3 sm:mb-2 sm:mt-5">Confirm New Daily Task</h1>
    <div class="bg-white rounded-lg w-full p-5 mt-5 text-xl">
      <%= form_with scope: :daily_task, url: "root_path" , method: :patch, id: "editTaskForm" do |f| %>
        <div class="grid grid-cols-10 gap-4 mb-4">
          <label class="col-span-2 font-semibold text-right">Date:</label>
          <p class="col-span-8 text-left">02-11-2025</p>
        </div>
        <div class="grid grid-cols-10 gap-4 mb-4">
          <label class="block col-span-2 text-right text-md sm:hidden">Wt:</label>
          <label class="col-span-2 text-right hidden font-semibold sm:block">Worktime:</label>
          <div class="flex space-x-2 col-span-8">
            <select
              class="border rounded border-neutral-400 pl-1 m-0 mr-1 bg-white focus:border-[#7d58bf] focus:outline-none focus:ring-2 focus:ring-[#7d58bf]">
              <option value="0">00</option>
              <option value="1">01</option>
              <option value="2">02</option>
              <option value="3">03</option>
              <option value="4">04</option>
              <option value="5">05</option>
              <option value="6">06</option>
              <option value="7">07</option>
              <option value="8">08</option>
            </select>
            <span class="block sm:hidden">h</span>
            <span class="hidden sm:block">hours</span>
            <select
              class="border rounded pl-1 border-neutral-400 m-0 mr-1 bg-white focus:border-[#7d58bf] focus:outline-none focus:ring-2 focus:ring-[#7d58bf]">
              <option value="00">00</option>
              <option value="30">30</option>
            </select>
            <span class="block sm:hidden">m</span>
            <span class="hidden sm:block">minutes</span>
          </div>
        </div>
        <div class="grid grid-cols-10 gap-4">
          <label class="block col-span-2 font-semibold text-right">Detail:</label>
          <textarea
            class="border rounded min-h-32 border-neutral-400 sm:min-h-48 w-full px-2 col-span-8 focus:border-[#7d58bf] focus:outline-none focus:ring-2 focus:ring-[#7d58bf]"></textarea>
        </div>
        <div class="flex justify-end space-x-4 mt-5">
          <%= link_to root_path(show_new_modal: "false" ), class: "bg-red-400 text-white px-4 py-2 rounded" do %>
            Cancel
            <% end %>
              <button class="bg-blue-400 text-white px-4 py-2 rounded">Save</button>
        </div>
    </div>
  </div>
</div>