<div class="max-w-screen-xl mx-auto flex justify-end">
  <div data-newdailymodal-target="success" class="fixed mt-6 bottom-6 right-6 translate-x-full opacity-0 bg-opacity-100 transform transition-all duration-300 ">
    <div data-newdailymodal-target="success_child" class="bg-green-200 hidden items-center me-3 w-80 rounded-md p-2 text-center">
      <%= image_tag 'check.svg', width: 30, height: 30 ,class:"min-w-[30px] me-2" %>
      <h1 class="text-green-800 text-lg font-semibold">Your daily task has been saved</h1>
    </div>
  </div>
</div>