<div class="mx-auto mt-5 max-w-xl px-5 py-5 rounded-lg">
<h1 class="text-3xl font-bold text-primary mb-5">Daily Task</h1>

<p class="mt-5">
Our has ... task ...!
</p>
    <%= render "layouts/navbar"%>
</div>