<%= render "layouts/navbar" %>
    <div class="my-auto ">
        <%= render "home/addDaily" %>
    </div>

    <%# <div class="mx-auto mt-20 max-w-screen-lg px-5 py-2"> %>
        <%# <div class="mt-2">
            <div class="text-center mt-8">
                <h1 class="text-3xl font-bold text-[#7d58bf] mb-5">New Daily Task</h1>
            </div>
            <p class="mt-5">
                Our has ... task ...!
            </p>
            </div>
            </div> %>