
<%= render "layouts/navbar" %>

<div class=" mt-30">
        <table class="bg-white shadow-lg rounded-lg overflow-hidden w-full">
            <thead>
                <tr class="bg-orange-500 text-white text-left">
                    <th class="px-6 py-3 text-xl font-medium">Name</th>
                    <th class="px-6 py-3 text-xl font-medium">Total Worktime</th>
                    <th class="px-6 py-3 text-xl font-medium">View Data</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-100 border-b border-white hover:ring-2 hover:ring-blue-500">
                    <td class="px-6 py-3">NN</td>
                    <td class="px-6 py-3">7 hours 30 minutes</td>
                    <td class="px-6 py-3">
                        <button class="bg-purple-500 text-white px-4 py-1 rounded">open</button>
                    </td>
                </tr>
                <tr class="bg-white border-b border-gray-200 hover:ring-2 hover:ring-blue-500">
                    <td class="px-6 py-3">NN</td>
                    <td class="px-6 py-3">7 hours 30 minutes</td>
                    <td class="px-6 py-3">
                        <button class="bg-purple-500 text-white px-4 py-1 rounded">open</button>
                    </td>
                </tr>
                <tr class="bg-gray-100 border-b border-white hover:ring-2 hover:ring-blue-500">
                    <td class="px-6 py-3">NN</td>
                    <td class="px-6 py-3">7 hours 30 minutes</td>
                    <td class="px-6 py-3">
                        <button class="bg-purple-500 text-white px-4 py-1 rounded">open</button>
                    </td>
                </tr>
                <tr class="bg-white border-b border-gray-200 hover:ring-2 hover:ring-blue-500">
                    <td class="px-6 py-3">NN</td>
                    <td class="px-6 py-3">7 hours 30 minutes</td>
                    <td class="px-6 py-3">
                        <button class="bg-purple-500 text-white px-4 py-1 rounded">open</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
